* {
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
}
:root {
  --primaryLightColor: #d4e6a5;
  --primaryColor: #476a2e;
  --primaryDarkColor: #c02c03;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBackground: #f1f5f8;
  --mainOverlay: rgba(35, 10, 36, 0.4);
  --mainBlack: #222;
  --mainGrey: #ececec;
  --darkGrey: #afafaf;
  --mainRed: #bd0303;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 0.3rem;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
  --mainBorderRadius: 0.25rem;
  --smallWidth: 85vw;
  --maxWidth: 40rem;
  --fullWidth: 1170px;
}

.section {
  display: block;
}
.projects-center {
  width: var(--smallWidth);
  margin: 0 auto;
  max-width: var(--fullWidth);
  display: grid;
  grid-row-gap: 2rem;
  row-gap: 4rem;
  grid-column-gap: 2rem;
  column-gap: 2rem;
  align-items: start;
}
.projects {
  background: var(--mainWhite);
  margin-bottom: 2rem;
  box-shadow: var(--lightShadow);
  transition: var(--mainTransition);
  display: grid;
  grid-template-rows: auto 1fr;
  border-radius: var(--mainBorderRadius);
  /* width: 40%; */
}
.projects:hover {
  box-shadow: var(--darkShadow);
}
.contacts:hover {
  box-shadow: var(--darkShadow);
}
.projects img {
  height: 20rem;
  object-fit: cover;
  border-top-left-radius: var(--mainBorderRadius);
  border-top-right-radius: var(--mainBorderRadius);
}
.projects-footer {
  padding: 1.5rem;
}
.projects-footer h3,
.projects-footer h4,
.projects-footer p {
  margin-bottom: 0.3rem;
}
.projects-footer h3 {
  font-size: 2rem;
}
.projects-footer p {
  color: var(--darkGrey);
  margin-bottom: 0.5rem;
}

h1 {
  text-align: center;
  padding: 2rem 0 2rem 0;
  font-size: 4rem;
}

.contacts {
  background: var(--mainWhite);
  margin-bottom: 2rem;
  box-shadow: var(--lightShadow);
  transition: var(--mainTransition);

  border-radius: var(--mainBorderRadius);
}

.family-pic {
  height: 29rem;
  object-fit: cover;
}

li {
  display: inline-block;
  text-align: center;
}

@media screen and (min-width: 576px) {
  .projects-center {
    grid-template-columns: repeat(auto-fill, minmax(338.8px, 1fr));
  }
}
